<ion-view view-title="Search">
  <ion-content>

    <button class="button button-full button-positive" ng-click="loadData()">Load Data</button>
    </br>

    <div>
      <button class="button button-full button-positive" ng-click="doSearch('restaurant'); openModal()">eat</button>
      <button class="button button-full button-positive" ng-click="doSearch('point_of_interest'); openModal()">tourism</button>
      <button class="button button-full button-positive" ng-click="doSearch('amusement_park'); openModal()">find a hotel</button>
      <button class="button button-full button-positive" ng-click="doSearch('store'); openModal()">shop</button>
    </div>
    <div id="map2"></div>
  </ion-content>
</ion-view>
