<ion-view view-title="Search">
  <ion-content>

    <button class="button button-full button-positive" ng-click="loadData()">Load Data</button>
    </br>

    <div>
      <button class="button button-full button-positive" ng-click="restaurantSearch(); openModal()">eat</button>
      <button class="button button-full button-positive">tourism</button>
      <button class="button button-full button-positive">find a hotel</button>
      <button class="button button-full button-positive">shop</button>
    </div>
    <div id="map2"></div>
  </ion-content>
</ion-view>
